
extends layout
block content
  .container

    .header this is the header

    form#form
      each value, key in self.flat
        .field
          .label !{key.replace(/::/g, '<span>::</span>').replace('cfg::','')}

          .value
            if (value.length > 100)
              textarea(name=key) #{value}
            else
              input(type='text',value=value,name=key)
          .submit
            input(type='submit', value='Submit')
          .clear

    .footer this is the foor

block postscript
  script(type='text/javascript').
    function loadercomplete() {
      Loader.load('/jst/kcms.js', 'Kcms');
    }
